<%- include('../partials/boilerplate.ejs')  %> 
<div style="height: 100vh;">
  <h3 style="text-align: center;">Sign Up!</h3>
  <div class="form">
    
    <form  method="POST" action='/users'>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


<%- include('../partials/end.ejs')  %>