<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smashTracker</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    
    
    
</head>



<body>
  <ul class="nav nav-tabs ">
    <a class="navbar-brand" >
      <img style="height: 30px; width: 30px;" src="https://upload.wikimedia.org/wikipedia/commons/4/49/Smash_Ball.png" alt="">
    </a>
    <div class="nav-div">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
    </div>
    
    
  </ul>
    <div class="container">
     
    
