<%- include('./partials/boilerplate.ejs')  %> 
<h1>Welcome to smashTracker!</h1>
<a href="/auth/login">Log In!</a>
<a href="/auth/register">Sign Up!</a>
<button class="ui primary basic button" >test</button>
<%- include('./partials/end.ejs')  %> 