<%- include('../partials/boilerplate.ejs')  %> 
<div class="form">
    
    <form method="POST" action='/matches'>

      <div class="form-group">
        <label for="opponent">Oppenent</label>
        <input type="text" class="form-control" name="opponent" id="opponent">
      </div>
      <div class="form-group">
        <label for="character">Your character</label>
        <input name="user1_char" type="text" class="form-control" id="character">
      </div>
      <div class="form-group">
        <label for="opp_character">Opponent character</label>
        <input name="user2_char" type="text" class="form-control" id="opp_character">
      </div>
      <div class="form-group">
        <label for="result">Who won?</label>
        <select name="result" class="form-control" id="result">
          <option>Me</option>
          <option>Opponent</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <%- include('../partials/end.ejs')  %> 