
<%- include('../partials/boilerplate.ejs')  %> 
<% matches.forEach(match => { %>
<h1> <%= match.winner %>  </h1>
<% }) %>
<h1>working</h1>
<a href="/matches/new"> <button> record a new match </button> </a>
<%- include('../partials/end.ejs')  %> 
